.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'CustomGlobalFont';
}

.category-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    transition: transform 0.2s ease, background-color 0.3s ease;
    background-color: #f0ad4e;
    color: #fff;
    border-radius: 5px;
    width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category-item:hover {
    cursor: pointer;
    transform: scale(1.05);
    background-color: #ec971f; 
}

.category-item:active {
    background-color: #ec971f; 
}

.category-item img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

.category-name {
    font-size: 16px;
    font-weight: bold;
}

@media (max-width: 600px) {
    .categories {
        flex-direction: column;
        align-items: stretch;
    }

    .category-item {
        width: 100%;
    }
}


