.search-bar {
    width: 100%;
    max-width: 600px; 
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

.search-bar input {
    flex: 1;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'CustomGlobalFont';
    font-size: 16px;

}

.search-bar button {
    padding: 15px 30px;
    border: none;
    background-color: rgb(197, 125, 57);
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'CustomGlobalFont';
    font-size: 16px;
}
