.search-bar {
    width: 100%;
<<<<<<< HEAD
    max-width: 800px;
    display: flex;
    align-items: center;
=======
    max-width: 800px; 
    display: flex;
>>>>>>> 01b5673fdfa8c9a1333969ca3a5bc3c575857a73
    justify-content: center;
    margin: 30px auto;
}

<<<<<<< HEAD
.search-bar input,
.search-bar select {
    flex: 1;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'CustomGlobalFont';
    font-size: 14px;
}

.search-bar button {
    flex: 1;
    padding: 15px 30px;
    border: none;
    background-color: #f0ad4e;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    font-family: 'CustomGlobalFont';
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}


.search-bar button:hover,
.search-bar button:focus {
    background-color: #ec971f;
    outline: none;
    transform: scale(1.05);
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar input,
    .search-bar select,
    .search-bar button {
        width: 100%;
        margin-bottom: 10px;
    }
}


=======
.search-bar input {
    flex: 1;
    padding: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: 'CustomGlobalFont';
    font-size: 14px;

}

.search-bar button {
    padding: 15px 30px;
    border: none;
    background-color: #ec971f;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    font-family: 'CustomGlobalFont';
    font-size: 16px;
}
>>>>>>> 01b5673fdfa8c9a1333969ca3a5bc3c575857a73
